.pro-text{
    font-size: 30px;
    font-weight: 600;
    width: fit-content;
    /* margin-top: 5%; */
}


.btns{
    width: fit-content;
    justify-content: center;
    margin-left: auto;
}

.head{
    width: 730px;
}

.btn-con{
    width: fit-content;
    font-weight: 600;
    font-size: 20px;
    /* justify-content: end; */
}

.item{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width: 270px;
}






